@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/Web 1920 – 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  -webkit-animation: page_transition 1s ease;
          animation: page_transition 1s ease;
}

@media screen and (max-width: 783px) {
  .description-text {
    line-height: 100px;
  }
  .description-text p {
    font-size: 18px;
    color: #959595;
  }
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    font-weight: bold;
  }
  .section {
    margin-left: 100px;
  }
}

.logo-container {
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(228, 234, 245, 0.157);
}

.logo-container .logo {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #C8BDF5;
  font-family: 'Courier New', Courier, monospace;
}

.sidebar {
  position: fixed;
  top: 30%;
  left: 1%;
}

.btn-links {
  margin: 10px 0px;
  background-color: #DBAA35;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  margin: 10 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #363636;
}

.btn-links i {
  font-size: 20px;
}

.btn-links:hover {
  color: #DBAA35;
  background-color: #363636;
}

.btn-links:hover a {
  text-decoration: none;
  color: #DBAA35;
}

button {
  cursor: pointer;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-text {
  width: 40%;
  line-height: 120px;
  z-index: 1;
}

.description-text p {
  line-height: 25px;
  font-size: 20px;
  color: #cfcfcf;
}

.image-div {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 0;
  width: 40%;
  background-color: #DBAA35;
  -webkit-transform: rotate(45deg) rotateZ(100deg);
          transform: rotate(45deg) rotateZ(100deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  width: 50%;
  height: auto;
}

.image.is-2 {
  -webkit-transform: rotate(-80deg) rotateZ(-100deg);
          transform: rotate(-80deg) rotateZ(-100deg);
}

.title {
  font-size: 50px;
  font-weight: bold;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.to-another-page {
  margin: 20px 0px;
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #363636;
}

.button {
  border: 1px solid #C8BDF5;
  padding: 10px 15px;
  background-color: #DBAA35;
  border-radius: 3px;
  cursor: pointer;
}

.btn-center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10vh 0;
}

/* style for modal */
.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 5px;
  width: 50%;
  height: auto;
  background-color: #f1c65ff6;
  padding: 10px;
  opacity: 0;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-animation: bouncingReverse 1s;
          animation: bouncingReverse 1s;
  z-index: 9;
}

input, textarea {
  padding: 10px 15px;
  margin: 5px;
  outline: none;
  border: 1px solid #434343;
  background-color: rgba(245, 245, 245, 0.849);
  border-radius: 3px;
  width: 75%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button.for-modal {
  background-color: rgba(255, 255, 255, 0.87);
  padding: 5px 10px;
  border: 1px solid #434343;
  margin: 5px;
}

input:hover, textarea:hover, .button:hover {
  border: 1px solid #DBAA35;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-animation: bouncing 1s;
          animation: bouncing 1s;
}

.dark-bg {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #09142e94;
  z-index: 0;
  display: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
/*# sourceMappingURL=main.css.map */